@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Fira Sans", sans-serif;
}

body {
  margin: 0;
  background-color: #f4f4f2;
}
